.left{
  width: 150px;
  height: calc(100vh - 100px);
  /* background-color: yellow; */
  display: table-cell;
  border-right: 1px solid #333;
  vertical-align: top;
  ul{
    width: 100%;
    background-color: #666;
    margin: 0px;
    padding:0px;
    li{
      list-style: none;
      padding: 5px;
      color: #fff;
      cursor: pointer;
    }
  }
}

a {
  text-decoration: none; /* 밑줄 제거 */
  color: inherit; /* 부모 요소의 색상을 따름 */
}