.left {
  width: 150px;
  height: 100vh;
  background-color: #282b32;
  display: none;
  border-right: 1px solid #333;
  vertical-align: top;
  ul {
    li {
      list-style: none;
      padding: 10px 5px;
      color: #fff;
      cursor: pointer;
      font-size: 15px;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
  ul:first-child{
    height: 40px;
    border-bottom: 1px solid #999;
  }
  &.on{
    display: table-cell;
  }
}