.wrap-list{
  padding:20px;
  margin:0px;
  .title{
    padding:10px;
  }
  .wrap-search{
    padding:10px;
    border: 1px solid #333;
    text-align: right;
    input[type=text] {
      margin-left: 10px;
      box-sizing: border-box;
      padding: 5px;
      width: 200px;
      height:100%;
      border: 1px solid #666;
    }
    select {
      box-sizing: border-box;
      padding: 5px;
      background-color: #464951;
      color: #fff;
    }
    button{
      margin-left: 10px;
      padding: 5px;
      color: #fff;
      border: 1px solid #666;
    }
  }
  .wrap-map{
    display: table;
    width: 100%;
    height: calc(100vh - 200px);
    padding:0px;
    margin: 0px;
  }
  .wrap-table{
    height: calc(100vh - 200px);
    table{
      padding:10px;
      margin-top:20px;
      width: 100%;
      border-collapse: collapse;
      th,td{
        border: 1px solid #888;
        text-align: center;
      }
    }
    .wrap-page{
      margin-top: 20px;
    }
  }
  .wrap-table-cell{
    display: table-cell;
    width:60%;
    vertical-align: top;
    padding:0px;
    margin: 0px;
    table{
      padding:10px;
      width: 100%;
      border-collapse: collapse;
      td{
        border: 1px solid #888;
        text-align: center;
      }
      td:first-child{
        width:100px;
      }
      input[type="text"], select{
        width: calc(100% - 12px);
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;
        border: 1px solid #888;
      }
      input[type="radio"]{
        display: inline-block;
      }
      ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        li{
          text-align: left;
          padding: 5px 10px;
        }
      }
    }
    .sc-wrap{
      display: inline-block;
      width: calc(100% - 20px);
      border: 1px solid #000;
      ul{
        list-style: none;
        padding:0px;
        li{
          padding: 5px 0px;
          .sc-btn{
            display: inline-block;
            padding-left: 20px;
          }
        }
      }
    }
    .mini{
      td:first-child{
        width:auto;
      }
    }
    .fs{
      .fs_sub{
        padding:5px;
        button{
          margin-left: 5px;
        }
      }
      td{
        width: 50%;
        vertical-align: top;
        td{
          border: 0px;
        }
      }
      .fs_head{
        tbody{
          height: 200px;
          overflow-y: scroll;
          display: block;
        }
        tr{
          display: table;
          width:100%;
          height: 25px;
        }
        td{
          width: 32%;
          vertical-align: middle;
          margin:0px;
          padding:0px;
          input{
            /* margin-left: 10px; */
            box-sizing: border-box;
            /* padding: 5px; */
            /* width: 200px; */
            height: 20px;
            border: 1px solid #666;
            margin:3px;
            width: calc(100% - 6px);
          }
        }
        td:first-child{
          width: 16%
        }
        td:last-child{
          width: 10%
        }
      }
    }
    .add{
      float:right;
    }
  }
  .wrap-table-cell:first-child{
    width:40%;
  }
  .wrap-reg{
    margin-top: 20px;
    text-align: right;
    button{
      margin-left: 10px;
      padding: 10px;
      color: #fff;
      border: 1px solid #666;
    }
    .dp__btn, .dp__time_display{
      margin: 0px;
      padding: 0px;
      border: none
    }
    .dp--tp-wrap{
      max-width: none;
      padding: 10px 0px;
    }
    .dp__input_readonly{
      font-size: 14px;
      line-height: 1;
    }
  }
}