.wrap-list{
  padding:20px;
  margin:0px;
  /* background-color: blue; */
  .title{
    padding:10px;
    /* background-color: green; */
  }
  .wrap-search{
    padding:10px;
    border: 1px solid #333;
    text-align: right;
    input {
      margin-left: 10px;
      box-sizing: border-box;
      padding: 5px;
    }
    select {
      box-sizing: border-box;
      padding: 5px;
    }
    button{
      margin-left: 10px;
      padding: 5px;
    }
  }
  .wrap-table{
    table{
      padding:10px;
      margin-top:20px;
      width: 100%;
      border-collapse: collapse;
      th,td{
        border: 1px solid #464951;
        text-align: center;
      }
    }
    .wrap-page{
      margin-top: 20px;
    }
    .wrap-reg{
      margin-top: 20px;
      text-align: right;
      button{
        padding: 5px;
        cursor: pointer;
      }
    }
  }
}