@charset "utf-8";

/* datepicker 적용 */

.ui-widget-header {
	border: none !important;
	background: #fff !important;
	}
	
	.ui-datepicker .ui-datepicker-header {
	position: relative !important;
	padding: 10px 0;
	}
	
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: none !important;
	background-color: transparent !important;
	font-weight: normal;
	color: #101828;
	text-align: center;
	}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
		color: #fff	!important;
		background-color: #4762E8 !important;
		border-radius: 50%;
		padding: 5px 0 6px;
	}
	
	/* 취소 버튼 */
	.ui-datepicker .ui-datepicker-buttonpane button{
		color: #98a2b3 ;
		font-weight: 500;
		font-family:  'pretendard'
	}
	/* 오늘 버튼 */
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{
		border: 1px solid #4762E8 !important;
    color: #4762E8 !important;
		opacity: 1;
		font-weight: 500;
	}
	.ui-datepicker .ui-datepicker-title {
	margin: 0 0em;
	line-height: 16px;
	text-align: center;
	font-size: 14px;
	padding: 0px;
	font-weight: bold;
	}
	
	.ui-datepicker {
	display: none;
	background-color: #fff;
	border-radius: 4px;
	margin:0;
	padding: 7px;
	width: 250px;
	box-shadow: 10px 10px 10px rgba(0,0,0,5%);
	font-family: 'pretendard';
	}
			
	.ui-widget.ui-widget-content {
			border: 1px solid #eee;
	}
	.ui-widget-content {
		border: none !important;
		margin: 0 !important;
	}

	#datepicker:focus>.ui-datepicker {
	display: block;
	}
	
	.ui-datepicker-prev,
	.ui-datepicker-next {
	cursor: pointer;
	}
	
	.ui-datepicker-next {
	float: right;
	}
	
	.ui-state-disabled {
	cursor: auto;
	color: hsla(0, 0%, 80%, 1);
	}
	
	.ui-datepicker-title {
	text-align: center;
	padding: 10px;
	font-weight: 100;
	font-size: 20px;
	}
	
	.ui-datepicker-calendar {
	width: 100%;
	}
	.ui-datepicker table{border: none;}
	.ui-datepicker-calendar tr{
		line-height: 15px;
		height: auto;
	}
	.ui-datepicker-calendar>thead>tr>th {
	padding: 5px;
	font-size: 13px !important;
	font-weight: 400;
	}
	
	
	.ui-datepicker-calendar>tbody>tr>td>a {
	color: #101828;
	font-size: 12px !important;
	font-weight: bold !important;
	text-decoration: none;
			
	}
	
	
	.ui-datepicker-calendar>tbody>tr>.ui-state-disabled:hover {
	cursor: auto;
	background-color: #fff;
	}
			
	.ui-datepicker-calendar>tbody>tr>td {
			border-radius: 100%;
			width: 44px;
			height: 30px;
			cursor: pointer;
			padding: 5px;
			font-weight: 100;
			text-align: center;
			font-size: 12px;
	}
			
	.ui-datepicker-calendar>tbody>tr>td:hover {
			background-color: transparent;
			opacity: 0.6;
	}
	
	.ui-state-hover,
	.ui-widget-content .ui-state-hover,
	.ui-widget-header .ui-state-hover,
	.ui-state-focus,
	.ui-widget-content .ui-state-focus,
	.ui-widget-header .ui-state-focus,
	.ui-button:hover,
	.ui-button:focus {
	border: 0px solid #cccccc;
	background-color: transparent;
	font-weight: normal;
	color: #2b2b2b;
	}
	
	.ui-widget-header .ui-icon {
	background-image: url('../images/btns.png') !important;
	}
	.ui-icon-circle-triangle-e {
	background-position: -20px 0px !important;
	background-size: 36px;
	}
	
	.ui-icon-circle-triangle-w {
	background-position: -0px -0px !important;
	background-size: 36px;
	}
			
	.ui-datepicker-calendar>tbody>tr>td:first-child a{
	color: red !important;
	}
			
	.ui-datepicker-calendar>tbody>tr>td:last-child a{
	color: #0099ff !important;
	}
			
	.ui-datepicker-calendar>thead>tr>th:first-child {
			color: red !important;
	}
			
	.ui-datepicker-calendar>thead>tr>th:last-child {
			color: #0099ff !important;
	}
	
	.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
		border: 0px !important;
		border:1px solid #4762E8 !important;
		color: #101828!important;
		border-radius: 50%;
		padding:4px 0 5px;
	}
  .ui-state-hover{
    background: transparent !important;
    border: none !important;
  }
	
	
	input[type="text"].calendar:focus {outline:none;}
	input[type="text"].calendar::placeholder{ color: #98a2b3;}
	input[type="text"].calendar{
    font-size: 16px;
    line-height: 19px;
		display: inline-block;
		background:url('../images/ic_calendar.svg') no-repeat calc(100% - 15px) center;
		cursor: pointer;
		background-color: transparent;
	}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
		color: #fff	!important;
		background-color: #4762E8 !important;
	}