.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrap-app{
  display: table;
  width: 100vw;
  height: 100vh;
}
.wrap-list{
  padding:20px;
  margin:0px;
  .title{
    padding:10px;
  }
  .wrap-search{
    padding:10px;
    border: 1px solid #333;
    text-align: right;
    input[type=text] {
      margin-left: 10px;
      box-sizing: border-box;
      padding: 5px;
      width: 200px;
      height:100%;
      border: 1px solid #666;
    }
    select {
      box-sizing: border-box;
      padding: 5px;
      background-color: #464951;
      color: #fff;
    }
    button{
      margin-left: 10px;
      padding: 5px;
      color: #fff;
      border: 1px solid #666;
    }
  }
  .wrap-map{
    display: table;
    width: 100%;
    height: calc(100vh - 200px);
    padding:0px;
    margin: 0px;
  }
  .wrap-table{
    height: calc(100vh - 200px);
    table{
      padding:10px;
      margin-top:20px;
      width: 100%;
      border-collapse: collapse;
      th,td{
        border: 1px solid #888;
        text-align: center;
      }
    }
    .wrap-page{
      margin-top: 20px;
    }
  }
  .wrap-table-cell{
    display: table-cell;
    width:60%;
    vertical-align: top;
    padding:0px;
    margin: 0px;
    table{
      padding:10px;
      width: 100%;
      border-collapse: collapse;
      td{
        border: 1px solid #888;
        text-align: center;
      }
      td:first-child{
        width:100px;
      }
      input[type="text"], select{
        width: calc(100% - 12px);
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;
        border: 1px solid #888;
      }
      input[type="radio"]{
        display: inline-block;
      }
      ul{
        list-style: none;
        padding: 0px;
        margin: 0px;
        li{
          text-align: left;
          padding: 5px 10px;
        }
      }
    }
    .sc-wrap{
      display: inline-block;
      width: calc(100% - 20px);
      border: 1px solid #000;
      ul{
        list-style: none;
        padding:0px;
        li{
          padding: 5px 0px;
          .sc-btn{
            display: inline-block;
            padding-left: 20px;
          }
        }
      }
    }
    .mini{
      td:first-child{
        width:auto;
      }
    }
    .fs{
      .fs_sub{
        padding:5px;
        button{
          margin-left: 5px;
        }
      }
      td{
        width: 50%;
        vertical-align: top;
        td{
          border: 0px;
        }
      }
      .fs_head{
        tbody{
          height: 200px;
          overflow-y: scroll;
          display: block;
        }
        tr{
          display: table;
          width:100%;
          height: 25px;
        }
        td{
          width: 32%;
          vertical-align: middle;
          margin:0px;
          padding:0px;
          input{
            /* margin-left: 10px; */
            box-sizing: border-box;
            /* padding: 5px; */
            /* width: 200px; */
            height: 20px;
            border: 1px solid #666;
            margin:3px;
            width: calc(100% - 6px);
          }
        }
        td:first-child{
          width: 16%
        }
        td:last-child{
          width: 10%
        }
      }
      .fs_head_c{
        tbody{
          height: 400px;
          overflow-y: scroll;
          display: block;
        }
        tr{
          display: table;
          width:100%;
          height: 25px;
        }
        td{
          width: 21%;
          vertical-align: middle;
          margin:0px;
          padding:0px;
          input{
            /* margin-left: 10px; */
            box-sizing: border-box;
            /* padding: 5px; */
            /* width: 200px; */
            height: 20px;
            border: 1px solid #666;
            margin:3px;
            width: calc(100% - 6px);
          }
        }
        td:first-child{
          width: 10%
        }
      }
    }
    .add{
      float:right;
    }
  }
  .wrap-table-cell:first-child{
    width:40%;
  }
  .wrap-table-limit{
    display: table-cell;
    width:50%;
    vertical-align: top;
    padding:10px;
    margin: 0px;
    table{
      width: 100%;
      border-collapse: collapse;
      td{
        border: 1px solid #888;
        text-align: center;
      }
      td:first-child{
        width:100px;
      }
      input[type="text"]{
        width: calc(100% - 150px);
        box-sizing: border-box;
        padding: 5px;
        margin: 5px;
        border: 1px solid #888;
      }
    }
  }
  .wrap-reg{
    margin-top: 20px;
    text-align: right;
    button{
      margin-left: 10px;
      padding: 10px;
      color: #fff;
      border: 1px solid #666;
    }
    .dp__btn, .dp__time_display{
      margin: 0px;
      padding: 0px;
      border: none
    }
    .dp--tp-wrap{
      max-width: none;
      padding: 10px 0px;
    }
    .dp__input_readonly{
      font-size: 14px;
      line-height: 1;
    }
  }
}
#container{
	.wrapper{
    .wrap-right-control{
      position: absolute;
      top: 120px;
      right: 30px;
      button{
        cursor: pointer;
      }
      .has-tooltip{
        position: relative;
        height: 40px;
        &.active{
          .tooltip{display: block;}
        }
        .tooltip{
          display: none;
          position: absolute;
          top: 0;
          right: 50px;
          z-index: 99;
          &.labelWrap{
            width: 98px;
            ul{
              li{
                &:hover,&.active{background: transparent;}
                .target-radio{
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  justify-items: center;
                  gap: 5px;
                  margin: 0 13px;
                  input[type=radio]:checked + label {
                    &.track{
                      background: url('./assets/images/ic_track_checked.svg') no-repeat;
                    }
                  }
                  label{
                    &.radio{
                      width: 20px;
                      height: 20px;
                      padding: 0;
                      &.large{width: 22px; height: 22px;}
                    }
                    &.radio-img{
                      width: 20px;
                      height: 20px;
                      padding: 0;
                      display: block;
                      &.track {
                        width: 22px;
                        height: 22px;
                        background: url('./assets/images/ic_track.svg') no-repeat;
                      }
                    }
                  }
                }
              }
            }
          }
          &.fliterWrap{
            width: 151px;
            ul{
              padding:  5px 0;
              li{
                &:hover,&.active{background-color: transparent;}
                &:first-child{margin: 0 5px 0;}
                &:last-child{margin: 5px 5px 0;}
                display: grid;
                grid-template-columns: 1fr 66px;
                align-items: center;
                gap: 5px;
                margin: 5px;
                width: max-content;
                input{
                  background: transparent;
                  height: 24px;
                  border: 1px solid #464951;
                  color: white;
                  text-indent: 5px;
                }
                label{
                  padding: 0;
                  line-height: 15px;
                  span{color: #73767f;}
                }
                &.btnWrap{
                  grid-template-columns: repeat(2, 1fr);
                  justify-content: center;
                  width: auto;
                  button[type=button]{
                    display: flex;
                    gap: 4px;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    height: 26px;
                    border: 1px solid #464951;
                    border-radius: 5px;
                    color: #d9d9d9;
                    &:active,&:hover{
                      background-color:#282b32;
                    }
                  }
                }
              }
            }
          }
          &.vectorWrap{
            ul{
              li{
                &:hover,&.active{background-color: transparent;}
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 0 5px;
                margin: 5px 0 5px;
                &:first-child{margin: 0;}
                &:last-child{margin: 5px 0 0;}
                &.btnWrap{display: grid;}
                .radio{
                  display: flex;
                  align-items: center;
                  gap: 5px;
                }
                label{
                  padding: 0;
                  span{color: #d9d9d9;}
                }
                div{display: flex; align-items: center; gap: 5px;
                }
                input[type=number]{
                  background: transparent;
                  height: 24px;
                  border: 1px solid #464951;
                  color: white;
                  text-indent: inherit;
                  text-align: center;
                  width: 44px;
                }
                span{font-size: 13px; color: #73767f;}
                button[type=button]{
                  display: flex;
                  gap: 4px;
                  justify-content: center;
                  align-items: center;
                  padding: 0;
                  height: 26px;
                  border: 1px solid #464951;
                  border-radius: 5px;
                  color: #d9d9d9;
                  &:active,&:hover{
                    background-color:#282b32;
                  }
                }
              }
            }
          }
          ul{
            background: #1b1c1f;
            border-radius: 10px;
            padding: 8px 1px;
            li{
              label{
                padding: 9px 27px 6px 9px;
                color: #d9d9d9;
                font-weight: bold;
                font-size: 13px;
                &.checkbox-label{
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  padding: 4px 12px 4px 4px;
                  min-width: 90px;
                }
              }
              button[type=button]{
                padding: 9px 27px 6px 9px;
                color: #d9d9d9;
                font-weight: bold;
                font-size: 13px;
                &.hasImg{
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  padding: 3px 12px 3px 3px;
                  width: 100%;
                  min-width:90px;
                  img{width: 20px; height: 20px;}
                }
              }
              &:hover,&.active{background: #464951;}
              .toggle {
                position: relative;
                display: flex;
                justify-content: flex-end;
                margin: 10px 10px 0;
                font-size: 14px;
                &__label {
                  padding: 0;
                  span.label-text{
                    position: absolute;
                    top: 4px;
                    left: -5px;
                    font-size: 13px;
                  }
                  &::after {
                    left: 45px;
                    background-color: #464951;
                  }
                }
              }
              .toggle__input:checked + .toggle__label::after {
                left: 59px;
                background-color: #d9d9d9;
              }
            }
          }
        }
      }
      button[type=button].btn-map{
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 10px;
        &.hide{
          height: 30px;
          background: url('./assets/images/ic_close.svg') no-repeat;
          background-size: cover;
          &.active{
            background: url('./assets/images/ic_open.svg') no-repeat;
            background-size: cover;
          }
        }
        &.map{
          background: url('./assets/images/ic_map.svg')no-repeat;
          &.active{
          background: url('./assets/images/ic_map_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_map_pressed.svg')no-repeat;
          }
        }
        &.tools{
          background: url('./assets/images/ic_tools.svg')no-repeat;
          &.active{
          background: url('./assets/images/ic_tools_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_tools_pressed.svg')no-repeat;
          }
        }
        &.label{
          background: url('./assets/images/ic_label.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_label_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_label_pressed.svg')no-repeat;
          }
        }
        &.vertiport{
          background: url('./assets/images/ic_vertiport.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_vertiport_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_vertiport_pressed.svg')no-repeat;
          }
        }
        &.corridor{
          background: url('./assets/images/ic_corridor.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_corridor_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_corridor_pressed.svg')no-repeat;
          }
        }
        &.building{
          background: url('./assets/images/ic_building.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_building_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_building_pressed.svg')no-repeat;
          }
        }
        &.filter{
          background: url('./assets/images/ic_filter.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_filter_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_filter_pressed.svg')no-repeat;
          }
        }
        &.waypoint{
          background: url('./assets/images/ic_wp.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_wp_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_wp_pressed.svg')no-repeat;
          }
        }
        &.antenna{
          background: url('./assets/images/ic_antenna.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_antenna_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_antenna_pressed.svg')no-repeat;
          }
        }
        &.vector{
          background: url('./assets/images/ic_vector.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_vector_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_vector_pressed.svg')no-repeat;
          }
        }
        &.latitude{
          background: url('./assets/images/ic_latitude.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_latitude_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_latitude_pressed.svg')no-repeat;
          }
        }
        &.notam{
          background: url('./assets/images/ic_notam.svg') no-repeat;
          &.active{
          background: url('./assets/images/ic_notam_hover.svg')no-repeat;
          }
          &:hover{
            background: url('./assets/images/ic_notam_pressed.svg')no-repeat;
          }
        }
      }
    }
    .wrap-bottom-control{
      position: absolute;
      bottom: 120px;
      right: 30px;
      display: flex;
      gap: 8px;
      height: 37px;
      button[type=button].compass{
        width: 37px;
        height: 37px;
        border-radius: 4px;
        background-color: #282b32;
          img{
          width: 37px;
          height: 37px;
          transform: rotate(0deg);
          transition: transform 0.3s ease;
        }
      }
      .zoomCtrl{
        position: relative;
        border-radius: 4px;
        background-color: #1b1c1f;
        height: 37px;
        &::after{
          content: '';
          position: absolute;
          top: 0;
          left: 38px;
          width: 1px;
          height: 37px;
          background-color: #282b32;
        }
        button[type=button]{
          width: 37px;
          height: 37px;
          position: relative;
          &.btnZoomOut{
            &::after{
              content: '';
              position: absolute;
              top: 13px;
              left: 13px;
              width: 12px;
              height: 12px;
              background: url('./assets/images/ic_zoom_out.svg') no-repeat;
            }
          }
          &.btnZoomIn{
            &::after{
              content: '';
              position: absolute;
              top: 13px;
              left: 13px;
              width: 12px;
              height: 12px;
              background: url('./assets/images/ic_zoom_in.svg') no-repeat;
            }
          }
        }
      }
    }
  }
}
button{
  cursor: pointer;
}
/* checkbox custom */
.checkbox-form, .checkbox-form-circle,.checkbox-form-grey {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.checkbox-form + .checkbox-img {display:inline-block;width:18px; height:18px;background:url('assets/images/btn_checkbox.svg') no-repeat center / contain; cursor: pointer;}
.checkbox-form:checked + .checkbox-img {background:url('assets/images/btn_checkbox_on.svg') no-repeat center / contain;}
.checkbox-form:disabled + .checkbox-img {opacity:0.5;cursor: not-allowed;}
.checkbox-label-text {display:inline-block;color:#d9d9d9;font-size:13px;font-weight: 400; width: max-content;}
.checkbox-form-circle + .checkbox-img {display:inline-block;width:18px; height:18px;background:url('assets/images/btn_checkbox2_off.svg') no-repeat center / contain; cursor: pointer;}
.checkbox-form-circle:checked + .checkbox-img {background:url('assets/images/btn_checkbox2_on.svg') no-repeat center / contain;}
.checkbox-form-grey + .checkbox-img {display:inline-block;width:18px; height:18px;background:url('assets/images/btn_checkbox_greybg.svg') no-repeat center / contain; cursor: pointer;}
.checkbox-form-grey:checked + .checkbox-img {background:url('assets/images/btn_checkbox_on.svg') no-repeat center / contain;}

input[type=radio] {
	display: none;
  & + label {
    width: 20px;
    height: 20px;
    background: url('assets/images/btn_radio_off.svg') no-repeat;
  }
  &:checked + label {
    background: url('assets/images/btn_radio_on.svg') no-repeat;
  }
}

.ol-tooltip-static .mt_del {
  width: 20px;
  height: 20px;
  background: url('assets/images/ic_x_2_transparent.svg') no-repeat;
  background-size: cover;
}

/* 오버레이 컨테이너에 대한 기본 스타일 */
.drone_label {
  user-select: none;
  /* 텍스트 드래그 방지 */
  pointer-events: none;
  /* 텍스트 포커싱 방지 */
  font-family: 'Pretendard';
  text-align: left;
  /* color: #000; */
  z-index: 999;
}

.drone_label .popup-content {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  /* 포커싱은 막되, 내부 이벤트 허용 */
}

.pagination{
  margin: 20px 0px;
  padding: 0px;
  ul{
    text-align: center;
    padding:0px;
    margin: 0px;
    list-style: none; /* 마커를 없애기 */
    width: 100%;
  }
  li{
    height: 36px;
    display: inline-block;
    padding:0px;
    margin: 0px;
    button[type=button]{
      cursor: pointer;
      padding:0px;
      margin: 0px;
      color: #000;
      width: 36px;
      height: 36px;
    }
    &.on button[type=button]{
      color: #fff;
      background-color: #596473;
    }

  }
}

/* .react-datepicker__input-container{
  width:300px;
} */

.react-datepicker {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.react-datepicker .react-datepicker__day {
  color: #fff;
}

.react-datepicker .react-datepicker__day--selected,
.react-datepicker .react-datepicker__day--keyboard-selected {
  background-color: #555;
  color: #fff;
}

.react-datepicker .react-datepicker__header {
  background-color: #444;
  border-bottom: 1px solid #555;
}

.react-datepicker .react-datepicker__month-container {
  background-color: #333;
}

/* .react-datepicker__month-container{
  float: none;
  display: inline;
} */

.sel50{
  width: 40% !important;
}